/* snippets: code.css */
code.language-text {
	white-space: pre-wrap !important;
/*	border: 1px solid yellow !important;*/
}
pre.code-block-pre__has-linenum > code.is-loaded {
	margin-left: 3em; /* Better codeblock in themes: Primary, Atom */
	/*margin-left: 0em; /* Better codeblock in themes: Default, BlueTopaz, Sanctum, Things */
}

pre.language-text > button.copy-code-button {
	margin-top: 2.1em !important; 
	background-color: transparent !important; 
}

/* 貼片部分 */
.貼片 pre.language-text {
	background-color: transparent !important;
	> code.language-text.is-loaded {
		border: 0px solid yellow;
	}
}

/* Chart color */
:root {
	
	--chart-color-1: rgba(255,99,132,0.3);
	--chart-color-2: rgba(54,162,235,0.3);
	--chart-color-3: rgba(255,206,86,0.3);
	--chart-color-4: rgba(75,192,192,0.3);
	--chart-color-5: rgba(153,102,255,0.3);
	--chart-color-6: rgba(255,159,64,0.3);
	--chart-color-7: rgba(255,255,255,0.3);
	--chart-color-8: rgba(0,0,0,0.25);
	/**/
}

/* code_margin_zero */
.code_margin_zero div.callout-content > pre.language-text:first-child {
	background-color: transparent; !important;
	margin: 0.5em 0 !important;
	padding: 0 !important;
	> code {
		background-color: transparent; !important;
		color: AntiqueWhite;
	}
}

div[data-mode="source"] .code_margin_zero .HyperMD-codeblock.HyperMD-codeblock-bg.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end) {
	> .cm-hmd-codeblock {
		color: var(--text-normal);
	}
}

/* numbered-input-width */

code.mb-input.mb-input-inline > div.mb-input-wrapper.mb-input-type-number > input[type="number"] {
	background-color: transparent; !important;
	width: 4em;
	text-align: right;
}

/* text-nowrap 換行 */
code.language-text-wrap.is-loaded {
	white-space: normal !important;
/*	background-color: navy;*/
}