/* snippets: img.css */
.leftimg {
	display: block;
	float: left;
	margin: 10px;
}

.centerimg {
	display: block;
	margin: 0px auto; 
}

.rightimg {
	float: right; display: block; margin: 0;
}

.tinyimg {
	display: block;
	max-width: 100px
}

.smallimg {
	display: block; max-width: 300px; background-color: transparent;
}

.mediumimg {
	display: block;
	max-width: 500px;
}

.largeimg {
	display: block;
	max-width: 800px
}