/* snippets: Markdown Furigana.css */
rt {
	/* 注音部分建議用 BiauKai 音標平上去入較清楚 */
	font-family: "BiauKai"; "Apple LiGothic"; "LiHei Pro";
}
ruby.furi {
	background-color:  ;
	transform: translateX(-0.5em);
	margin-left: -0.1em;
}
.slides-container ruby.furi rt {
	/* 讓注音右移一點點 */
	transform: translateX(0.15em);
}
ruby.furi rt {
	/* 讓注音右移一點點 */
	transform: translateX(0.5em);
}
mark > ruby.furi rt {
	color: var(--text-normal) !important ;
}