@media print {
	.markdown-preview-view {
		font-size: 16pt !important; 1.25em;
		line-height: 1.5 !important;

		h1 {
			font-size: 28pt;
		}

		h2 {
			font-size: 24pt;
		}
		strong {
			color: black !important;
		}
		a {
			color: blue !important;
		}
	}
	.markdown-preview-view th, 
	.markdown-preview-view td {
		font-size: 16pt;1.25em;
	}
	.markdown-preview-view table th,
	.markdown-rendered table thead tr.ltr th {
		background-color: transparent !important;
		font-weight: bold !important;
	}
	@page {
		margin-top: 3.5em;
		margin-bottom: 3em;
	}
}