/* snippets: reveal-glowing-headings.css */
/* 
投影片的標題暈染
*/

.theme-dark {
	.reveal {
		a {
			color: var(--r-link-color);
		}
		*[data-heading] {
			background-color: transparent !important;
			/*
			
			*/
		}
		mark, .cm-highlight {
			/* highlight */
			/*background-color: hsla(calc(var(--accent-h) + 162), var(--accent-s), calc(var(--accent-l)), 0.25) !important;*/
			/*color: hsl(calc(var(--accent-h) + 152), var(--accent-s), calc(var(--accent-l) * 1.1));*/
			/*background-color: hsla(calc(var(--accent-h) + 0), calc(var(--accent-s) * 1.2), calc(var(--accent-l) * 1.2), 0.75);*/
			/*color: hsla(calc(var(--accent-h) + 0), calc(var(--accent-s) / var(--accent-s)), calc(var(--accent-l) * 1.01), 1);*/
			/*--color-glow: hsla(calc(var(--accent-h) + 0), calc(var(--accent-s) / var(--accent-s)), calc(var(--accent-l) * 1.01), 1);*/
			/*--color-mark: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 0.98), calc(var(--accent-l) * 0.95));*/
			/*--color-mark: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 0.95), calc(var(--accent-l) * 0.71));*/
			/*--color-mark: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) / 45 * 68.3), calc(var(--accent-l) / 74.9 * 56.9), .5);*/
			--color-mark: hsl(calc(var(--accent-h) - 0), calc(var(--accent-s) * 57/45), calc(var(--accent-l) * 64.7/74.9));
			/*background-color: var(--color-accent) !important;*/
			background-color: var(--color-mark) !important;
			/*background-color: var(--interactive-accent) !important;*/
			/*background-color: transparent !important;*/
			color: white;
			/*text-shadow: 0 0 30px var(--color-glow), 0 0 30px var(--color-glow), 0 0 30px var(--color-glow), 0 0 30px var(--color-glow), 0 0 30px var(--color-glow);*/
		}
		section h2:only-of-type, section h3:only-of-type, section h4:only-of-type {
			/*font-family: cursive;*/
			/*color: var(--color-accent-2);*/
			--glow-width: 50px;
			text-shadow: 0 0 calc(var(--glow-width) * 0.66) var(--color-glow), 0 0 calc(var(--glow-width) * 0.66) var(--color-glow), 0 0 var(--glow-width) var(--color-glow), 0 0 var(--glow-width) var(--color-glow);
			/*text-shadow: 2px 2px 50px yellow; , white 0 0 10px */
		}
		.slides-container mark {
			--color-glow: var(--color-accent); hsla(var(--access-h), var(--access-s), var(--access-l), 0.8);
			-webkit-box-shadow:0px 0px 105px 0.21em var(--color-glow);
			-moz-box-shadow: 0px 0px 105px 0.21em var(--color-glow);
			box-shadow: 0px 0px 105px 0.21em var(--color-glow);
		}
	}
	em, .slides-container div.slides > section.present em {
		font-style: normal;
		/*color: hsl(calc(var(--accent-h) - 60), var(--accent-s), var(--accent-l)); #4DB8F0;*/
		/* italic */
		/*font-style: normal;*/
		/*color: hsl(calc(var(--accent-h) - 60), var(--accent-s), var(--accent-l)); #4DB8F0;*/
		/*color: hsl(calc(var(--accent-h) - 40 ), var(--accent-s), var(--accent-l)); #F2D64B;*/
		color: var(--color-accent-2); #B9A3FC;
		/*color: var(--interactive-accent); #B9A3FC;*/
		/*color: #5B2971;*/
		/*color: var(--color-accent);*/
		/*color: var(--color-accent-1);*/
	}
}